Repository wangq131/4G06CapstoneProjectT5, pull requests merged in 2024-02, with the labels that each got.

#232 231 - Add app icons UI
  src/static/images/childsmath.PNG
  src/static/images/googledrive.PNG
  src/static/images/maclibrary.PNG
  src/static/images/office.PNG
  src/static/images/onenote.PNG
  src/static/images/oscarplus.png
  src/static/images/teams.PNG
  src/static/style.css
  src/templates/base.html
  src/templates/course_detail_page.html
  src/templates/course_page.html
  src/templates/header.html
  src/templates/index.html
  src/templates/model_page.html
  src/templates/model_prediction_page.html
  src/templates/plan_page.html
  src/templates/profile_page.html
Labels: flask app, UI

#236 222 todolist
  src/app.py
  src/poc-data/upload_mock_data_to_s3.py
  src/static/js/taskDragDrop.js
  src/static/task.css
  src/templates/index.html
Labels: flask app

#235 234 - Update apps icons
  src/static/images/chatgpt.png
  src/static/images/github.png
  src/static/images/gitlab.png
  src/static/images/googledrive.PNG
  src/static/images/maclibrary.PNG
  src/static/images/office.PNG
  src/static/images/onenote.PNG
  src/static/images/teams.PNG
  src/static/style.css
  src/templates/header.html
  src/templates/model_page.html
  src/templates/model_prediction_page.html
  src/templates/plan_page.html
  src/templates/profile_page.html
Labels: flask app, UI

#240 239 - Simple feedback page
  src/app.py
  src/config.py
  src/helper.py
  src/static/js/appIcons.js
  src/static/style.css
  src/templates/feedback_page.html
  src/templates/header.html
Labels: flask app, UI

#241 233-course-info
  src/app.py
  src/config.py
  src/flask-app-instructions.md
  src/helper.py
  src/poc-data/extracted_course_works.csv
  src/poc-data/mock_course_info.csv
  src/templates/course_detail_page.html
Labels: flask app

#224 219 - forum cs
  src/app.py
  src/config.py
  src/helper.py
  src/instance/project.db
  src/poc-data/comment_data.csv
  src/poc-data/topic_data.csv
  src/poc-data/user_data.csv
  src/static/style.css
  src/templates/add_topic_page.html
  src/templates/forum_page.html
  src/templates/forum_topic_page.html
  src/templates/header.html
  src/templates/search_forum_results.html
Labels: enhancement, flask app

#252 243 - Fix import issues and change name to Mac One
  src/README.md
  src/static/images/logo.png
  src/templates/add_topic_page.html
  src/templates/base.html
  src/templates/course_detail_page.html
  src/templates/course_page.html
  src/templates/feedback_page.html
  src/templates/forum_page.html
  src/templates/header.html
  src/templates/index.html
  src/templates/search_forum_results.html
Labels: bug, flask app

#253 243- Add import
  README.md
  requirements.txt
Labels: bug

#251 237 - Task visualization
  src/app.py
  src/static/js/taskDragDrop.js
  src/static/task.css
  src/templates/index.html
Labels: flask app

#254 247-improve-course-detail-page-UI
  src/instance/project.db
  src/poc-data/extracted_course_works.csv
  src/poc-data/mock_course_info.csv
  src/templates/course_detail_page.html
Labels: UI

#258 256- Update the team contribution report
  docs/projMngmnt/Rev0_Team_Contrib.pdf
  docs/projMngmnt/Rev0_Team_Contrib.tex
Labels: documentation

#257 255 - Fix app icon bugs after getting other PRs merged, fix chenwei's websi…
  src/app.py
  src/static/style.css
  src/templates/add_topic_page.html
  src/templates/course_page.html
  src/templates/feedback_page.html
  src/templates/forum_page.html
  src/templates/forum_topic_page.html
  src/templates/header.html
  src/templates/index.html
  src/templates/pomodoro_page.html
  src/templates/profile_page.html
Labels: bug, flask app, UI

#259 250-mock-file-upload-bug-fix
  src/app.py
  src/helper.py
  src/poc-data/extracted_course_works.csv
  src/poc-data/mock_course_info.csv
Labels: bug

#261 260 - Fix the pomodoro boards position
  src/templates/pomodoro_page.html
Labels: bug

#262 255 - Implement calculating cGPA feature
  src/app.py
  src/config.py
  src/helper.py
  src/static/style.css
  src/templates/forum_topic_page.html
  src/templates/index.html
  src/templates/profile_page.html
Labels: flask app, UI

#268 267-Implement the Pomodoro Timer Weekly Achievements
  src/app.py
  src/instance/project.db
  src/static/js/pomodoro.js
  src/static/js/taskDragDrop.js
  src/static/task.css
  src/templates/index.html
  src/templates/pomodoro_page.html
Labels: bug, deliverables, flask app
